* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    vertical-align: top;
 }
 body{
    background-color: #FFD90F;
 }

#wrapper{
    padding:0 13%;
    
    
} 

header  img{
    width: 100%;
    
}

header p{
    font-size: xx-large;
    background-color: #447bb8;
    color: white;
    text-align: center;
    font-family: 'Comics', sans-serif;
    padding: 10px;
}

main{
    display: flex;
    flex-direction: row;
    gap: 10px;
    justify-content: center;
    background-color: white;
   
}

nav{
display: flex;
flex-direction: column;
justify-content: space-evenly;
border: solid #447bb8 2px;
border-radius: 3px;
padding: 10px 40px;
margin-right: 10px;
background-color: #447bb8;
font-size: medium;
height: fit-content;
margin-top: 30px;
margin-left: 10px;
justify-content: center;

 
}
article{
    margin-top: 20px;
    margin-bottom: 20px;
}
article h1{
text-decoration: solid;
padding-bottom:30px ;
padding-top: 30px;
color: #FFD90F;
font-family: 'Comics', sans-serif;

}
article p {
    font-family: 'Comics', sans-serif;
    font-size: 12px;
    text-align: justify;
}
aside{
    display: flex;
    flex-direction: column;
    font-size: small;
    border: solid, #447bb8, 3px;
    background-color: #447bb8;
    color: white;
    text-align: justify;
    gap: 15px;
    height: fit-content;
    padding: 10px 10px;
    margin-left: 10px;
    margin-bottom: 20px;
    margin-top: 30px;
    border-radius: 5px;
    margin-right: 10px;
}
aside figcaption{
    font-size: 20px;
    font-family: 'Comics', sans-serif;
    margin-top: 10px;
}
aside img{
    border:solid white 2px;
    height: 200px;
    width: 170px;
    border-radius: 5px;
}
aside p{
    font-family: 'Comics', sans-serif;
    font-size: 10px;
    width: fit-content;
    
}



a{
    color: white;
    font-family: 'Comics', sans-serif;
    font-size:10px;
    
    
}
li{
    color:#447bb8;
    
}
ul{
    gap: 10px;
}

footer{
    background-color: #447bb8;
    color: white;
    text-align: center;
    font-size: medium;
    font-family: 'Comics', sans-serif;
    padding-top: 10px;
    padding-bottom: 5px;
}

@media only screen and (max-width: 600px) {
    #wrapper{
        padding: 0px;
        margin: 0px;
    }

    main {
      flex-direction: column;
      
    }
    nav{
        display: flex;
        margin: 0px;
        
       
    }
    ul{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
    header figure{
        margin: 0px;
    }
    article{
        padding: 0px 20px;
    }
    aside figure {
        display: flex;
        flex-direction: row;
        flex-flow:column wrap ;
        justify-content: center;
        align-content: center;
    }
  }
